.register {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $c-white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  background: $c-pure-white;
  box-shadow: $b-shadow;
  margin: $m-gutter * 2;

  &__header {
    padding: $m-gutter / 2;
    background: $c-primary;
    color: $c-white;
  }

  &__form {
    padding: 0 ($m-gutter / 2);
  }

  &__title {
    margin: 0.5rem 0 0;
  }

  &__buttons {
    padding: $m-gutter / 2;
    border: 0;
    border-radius: 0.1rem;
    background: $c-pure-white;

    &--container {
      display: flex;
      justify-content: space-between;
      margin: $m-gutter (-1rem / 2) 0;
      padding: $m-gutter ($m-gutter / 2);
      border-top: 1px solid $c-secondary;
    }

    &--login {
      background: $c-white;
      color: $c-secondary;
    }

    &--signup {
      background: $c-primary;
      color: $c-white;
    }
  }
}

.input {
  width: 100%;
  border: 0;
  border-bottom: 4px solid $c-secondary;
  background: $c-pure-white;
  font-size: 1rem;

  &:focus {
    border-bottom: 2px solid $c-secondary-light;
  }
}
